body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img,object,embed {
    margin:0;
    padding:0;
}

#header {
    border-bottom:1px solid #e5e5e5;
    margin-bottom:3px;
    overflow:hidden;
    padding:3px 3px 4px 3px;
    width:394px;
}

#content{
    overflow:hidden;
    width:400px;

}

#logo {
    float:left;
}

#close{
    float:right;
    margin:6px 0;
}

#close a{
    color:#b2bbbf;
    font-size:11px;
}

#close a:hover{
    color:#000;
}

.clear-fix{
    clear: both;
    margin: 0;
    padding: 0;
}
