.quick-tooltip {
    position:absolute;
    z-index:99999999999;
    font-size: 15px;
    border:1px solid #cccccc; 
    background:#F0E68C; 
    color:#000000;
    padding: 4px;
}

.round {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}
