header td {
  vertical-align: middle;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 25px !important;
}

section.content {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

section.content td{
  font-size: 14px !important;
}

section.content th{
  text-align : left;
  font-size: 20px !important;
}

.quick-tooltip {
    position:absolute;
    z-index:99999999999;
    font-size: 15px;
    border:1px solid #cccccc; 
    background:#F0E68C; 
    color:#000000;
    padding: 4px;
    max-width: 500px;
}

.round {
    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;
}

#more {
    float:right;
}
